{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Gaming reviews</h3>

    {% for review in reviews %}

        <ul class="collapsible popout">
            <li>
                <div class="collapsible-header">
                    <i class="fas fa-chevron-down"></i>
                    <strong>{{ review.game_title }}</strong>
                </div>
                <div class="collapsible-body">
                    <span>
                        {{ review.review_author }}<br>
                        <p>{{ review.game_review }}</p><br>
                        What console can I play it on?
                        <strong>{{ review.console_name  }}</strong><br>
                        <br>
                        Do I recommend this game? 
                        {% if review.would_recommend == "Yes" %}
                            <i class="fas fa-grin-hearts"> YES</i>
                        {% else %}
                            <i class="fas fa-frown"> No</i>
                        {% endif %}
                    </span>
                </div>
            </li>
        </ul>
        
    {% endfor %}

{% endblock %}