{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Gaming reviews</h3>
    <!-- Search bar -->
    <div class="row card-panel z-depth-5">
        <form action="{{ url_for('search') }}" method="POST" class="col s12 sizing">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s12 m8">
                    <i class="fab fa-searchengin prefix"></i>
                    <input type="text" name="query" id="query" minlength="2" class="validate" required>
                    <label for="query">Search Reviews</label>
                </div>
                <div class="col s12 m4">
                    <a href="{{ url_for('get_reviews') }}" class="waves-effect waves-light amber darken-3 btn">Reset</a>
                    <button type="submit" class="waves-effect waves-light lime accent-4 btn">Search</button>
                </div>
            </div>
        </form>
    </div>

    {% for review in reviews %}
        <!-- Review header -->
        <ul class="collapsible popout">
            <li class="row">
                <div class="collapsible-header">
                    <div class="col s2">
                        <i class="fas fa-chevron-down"></i>
                    </div>
                    <div class="col s2">
                        <strong>{{ review.game_title }}</strong>
                    </div>
                    <div class="col s8">
                        {% if session.user|lower == review.review_author|lower %}
                            <a href="{{ url_for('edit_review', review_id=review._id) }}" class="waves-effect waves-light blue-grey darken-3 btn-small right">Edit</a>
                            <a href="{{ url_for('delete_review', review_id=review._id) }}" class="waves-effect waves-light red darken-4 btn-small right">Delete</a>
                        {% endif %}
                    </div>
                </div>
                <!-- Review main section -->
                <div class="collapsible-body">
                    <span>
                        {{ review.review_author }}<br>
                        <p>{{ review.game_review }}</p><br>
                        What console can I play it on?
                        <strong>{{ review.console_name  }}</strong><br>
                        <br>
                        Do I recommend this game? 
                        {% if review.would_recommend == "Yes" %}
                            <i class="fas fa-grin-hearts"> YES</i>
                        {% elif review.would_recommend == "You need to play it, to make your own decision" %}
                            <i class="fas fa-meh"> You need to play it, to make your own decision</i>
                        {% else %}
                            <i class="fas fa-frown"> No</i>
                        {% endif %}
                    </span>
                </div>
            </li>
        </ul>
        
    {% endfor %}

{% endblock %}